<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/includes/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <clover outputFile="tests/logs/clover.xml"/>
      <html outputDirectory="tests/logs/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Main">
      <directory prefix="Test_" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
